.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.2rem;
}

.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-weight: bolder;
    font-size: 4.2rem;
    text-decoration: none;
    color: var(--link-color);
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease;
}

.logoLink:hover {
    filter: brightness(80%);
}

.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}