.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.footer a {
    color: var(--text-muted);
    font-size: small;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}